<div class="row" style="height: 40px;">
    <div class="col-lg-12 col-12">
        <div class="position-relative">
            <button id="reloadAlerts" class="btn btn-default btn-sm position-absolute top-0 end-0 m-2">
                <i class="fas fa-sync-alt"></i>
            </button>
            <!-- <span id="alertCountBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12">
        <div id="jsgridAlertsTable"></div>
    </div>
</div>
