<div class="row">
    <div class="col-md-12">
        <div class="card card-primary check_form_edit_card_type">
            <div class="card-header">
                <h3 class="card-title check_form_edit_card_title">Añadir nuevo check</h3>
            </div>

            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label for="check_form_name">Descripción</label>
                        <input type="text" class="form-control" id="check_form_name"
                            placeholder="Check para cloud-tech.es" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="check_form_url">Dominio a monitorizar</label>
                        <input type="url" class="form-control" id="check_form_url" placeholder="https://cloud-tech-es"
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Método</label>
                        <select class="form-control" id="check_form_method">
                            <option value="get">GET</option>
                            <!-- <option value="post">POST</option> -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Código de respuesta:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" min="100" max="599" placeholder="200"
                                id="check_form_response">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Intervalo de tiempo entre comprobaciones:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" min="1" max="60" placeholder="1"
                                id="check_form_interval">
                            <select class="form-control" id="check_form_time">
                                <option value="m">Minutos</option>
                                <option value="h">Horas</option>
                                <option value="d">Días</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <input type="hidden" id="check_form_filename_yml" value="">
                    <a href="#" class="btn btn-sm btn-success" id="check-form-submit">Guardar</a>
                    <a href="#" class="btn btn-sm btn-warning" id="check-form-submit-edit" style="display: none;">Actualizar</a>
                </div>
            </form>
        </div>
    </div>
</div>