<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="public/src/1697748800931.jpeg" alt="<%= company_name %>" height="60"
        width="60">
</div>