<!-- Brand Logo -->
<a href="#" class="brand-link">
    <img src="public/src/logo_cloud_tech.png" alt="<%= company_name %> Logo" class="brand-image">
    <!-- <span class="brand-text font-weight-light"><%= company_name %></span> -->
</a>

<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="public/src/1697748800931.jpeg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <!-- <a href="#" class="d-block">Alexander Pierce</a> -->
            <%= email %>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link" id="sidebar-home">
                    <i class="fas fa-home"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="sidebar-add-check">
                    <i class="fas fa-plus-square"></i>
                    <p>
                        Añadir check
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="sidebar-domain-list">
                    <i class="fas fa-list"></i>
                    <p>
                        Lista de dominios
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="sidebar-alerts">
                    <i class="fas fa-exclamation-triangle"></i>
                    <p>
                        Alertas
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>